body {
  background-color: maroon;
  color: white;
}

header {
  background-color: #800000;
}

section {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

footer {
  background-color: #343a40;
}

h2,
h3 {
  color: maroon;
}

.btn-secondary {
  background-color: maroon;
  border: none;
}

.btn-secondary:hover {
  background-color: #800000;
}
